In [1]:
import pandas as pd
import numpy as np

## reindex


把一个serries或者DateFrame按照新的index进行排序

In [2]:
obj = pd.Series([4.5,7.2,-5.3,3.2],index=['d','b','a','c'])
print (obj)

d    4.5
b    7.2
a   -5.3
c    3.2
dtype: float64

In [3]:
obj.reindex(['a','b','c','d','e'])

a   -5.3
b    7.2
c    3.2
d    4.5
e    NaN
dtype: float64

In [4]:
obj.reindex(['a','b','c','d','e'],fill_value = 0) #不存在的填0

a   -5.3
b    7.2
c    3.2
d    4.5
e    0.0
dtype: float64

In [5]:
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])
print (obj3)

0      blue
2    purple
4    yellow
dtype: object

In [6]:
obj3.reindex(range(6),method='ffill') #用上一个index的值填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

可以对DateFrame进行reindex

In [7]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                    index = ['a','b','c'],
                    columns=['Hangzhou','Shenzhen','Nanjing'])
print (frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
b         3         4        5
c         6         7        8

In [8]:
frame.reindex(['a','b','c','d'])

   Hangzhou  Shenzhen  Nanjing
a       0.0       1.0      2.0
b       3.0       4.0      5.0
c       6.0       7.0      8.0
d       NaN       NaN      NaN

在reindex的同时，我们也可以重新制定columns

In [9]:
frame.reindex(columns=['Shenzhen','Hangzhou','Chongqing'])

   Shenzhen  Hangzhou  Chongqing
a         1         0        NaN
b         4         3        NaN
c         7         6        NaN

In [10]:
# frame.reindex(index=['a','b','c','d'],
#              method = 'ffill',
#              columns = ['Shenzhen','Hangzhou','Chongqing'])
print ()

drop删除series和dataframe中的index

In [11]:
print (obj3)
obj4 = obj3.drop(2)
print (obj4)

0      blue
2    purple
4    yellow
dtype: object
0      blue
4    yellow
dtype: object

In [12]:
obj3.drop([2,4])#同时删掉2,4

0    blue
dtype: object

In [13]:
frame

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
b         3         4        5
c         6         7        8

In [14]:
frame.drop(['a','c']) #删除frame

   Hangzhou  Shenzhen  Nanjing
b         3         4        5

In [15]:
frame.drop('Shenzhen',axis=1) # 删除按列

   Hangzhou  Nanjing
a         0        2
b         3        5
c         6        8

In [16]:
frame.drop(['Shenzhen','Hangzhou'],axis=1) #同时删掉深圳和杭州

   Nanjing
a        2
b        5
c        8

hierarchical index

In [17]:
data = pd.Series(np.random.randn(10),
                index = [['a','a','a','b','b','c','c','c','d','d'],\
                        [1,1,3,1,2,1,2,3,1,2]])
print (data)

a  1    1.350517
   1    1.575434
   3    1.901582
b  1    0.768699
   2   -0.650031
c  1   -0.270672
   2   -0.108734
   3   -0.724420
d  1    0.508811
   2    0.386697
dtype: float64

In [18]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 2, 3, 3], [0, 0, 2, 0, 1, 0, 1, 2, 0, 1]])

In [19]:
print(data['b'])

1    0.768699
2   -0.650031
dtype: float64

In [20]:
data['b':'d']

b  1    0.768699
   2   -0.650031
c  1   -0.270672
   2   -0.108734
   3   -0.724420
d  1    0.508811
   2    0.386697
dtype: float64

In [21]:
data[1:4] #实际上取得是a开始1,3到b，1的值

a  1    1.575434
   3    1.901582
b  1    0.768699
dtype: float64

unstack和stack可以让我们在hierarchical indexing和DataFrame之间进行切换

In [22]:
print (data)
data.unstack()

a  1    1.350517
   1    1.575434
   3    1.901582
b  1    0.768699
   2   -0.650031
c  1   -0.270672
   2   -0.108734
   3   -0.724420
d  1    0.508811
   2    0.386697
dtype: float64

ValueError: Index contains duplicate entries, cannot reshape

In [23]:
type(data.unstack().stack())

ValueError: Index contains duplicate entries, cannot reshape

In [24]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                    index = [['a','a','b','b'],[1,2,1,2]],
                    columns = [['Beijing','Beijing','Shanghai'],['apts','cars','apts']])
print (frame) #行列各两层

    Beijing      Shanghai
       apts cars     apts
a 1       0    1        2
  2       3    4        5
b 1       6    7        8
  2       9   10       11

In [25]:
frame.index.names = ['alpha','number']
frame.columns.names = ['city','type']
print (frame)

city         Beijing      Shanghai
type            apts cars     apts
alpha number
a     1            0    1        2
      2            3    4        5
b     1            6    7        8
      2            9   10       11

In [26]:
frame.ix['a',1]
print (type(frame.ix['a',1]))

<class 'pandas.core.series.Series'>

/Users/mengjiechen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [27]:
frame.ix['a',2]['Beijing']

type
apts    3
cars    4
Name: (a, 2), dtype: int64

## 连接多个pandas

In [28]:
df1 = pd.DataFrame({'apts':[55000,6000],
                   'cars':[200000,300000],},
                   index = ['Shanghai','Beijing'])
df1

           apts    cars
Shanghai  55000  200000
Beijing    6000  300000

In [29]:
df2 = pd.DataFrame({'apts':[25000,20000],
                   'cars':[150000,120000],},
                   index = ['Hangzhou','Nanjing'])
df2

           apts    cars
Hangzhou  25000  150000
Nanjing   20000  120000

In [30]:
df3 = pd.DataFrame({'apts':[30000,10000],
                   'cars':[180000,100000],},
                   index = ['Guangzhou','Chongqing'])
df3

            apts    cars
Guangzhou  30000  180000
Chongqing  10000  100000

In [31]:
frames = [df1,df2,df3]
result = pd.concat(frames)#连接3个表
result

            apts    cars
Shanghai   55000  200000
Beijing     6000  300000
Hangzhou   25000  150000
Nanjing    20000  120000
Guangzhou  30000  180000
Chongqing  10000  100000

In [32]:
result2 = pd.concat(frames,keys=['x','y','z'])
print(result2)

              apts    cars
x Shanghai   55000  200000
  Beijing     6000  300000
y Hangzhou   25000  150000
  Nanjing    20000  120000
z Guangzhou  30000  180000
  Chongqing  10000  100000

In [33]:
result2.ix[3:6]

/Users/mengjiechen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              apts    cars
y Nanjing    20000  120000
z Guangzhou  30000  180000
  Chongqing  10000  100000

In [37]:
df4 = pd.DataFrame({'Salaries':[10000,30000,30000,20000,15000]},
                  index = ['Suzhou','Beijing','Shanghai','Guangzhou','Tianjin'])
result3 = pd.concat([result,df4],axis=1)
print (result3)

              apts      cars  Salaries
Beijing     6000.0  300000.0   30000.0
Chongqing  10000.0  100000.0       NaN
Guangzhou  30000.0  180000.0   20000.0
Hangzhou   25000.0  150000.0       NaN
Nanjing    20000.0  120000.0       NaN
Shanghai   55000.0  200000.0   30000.0
Suzhou         NaN       NaN   10000.0
Tianjin        NaN       NaN   15000.0

In [39]:
result3.stack()

Beijing    apts          6000.0
           cars        300000.0
           Salaries     30000.0
Chongqing  apts         10000.0
           cars        100000.0
Guangzhou  apts         30000.0
           cars        180000.0
           Salaries     20000.0
Hangzhou   apts         25000.0
           cars        150000.0
Nanjing    apts         20000.0
           cars        120000.0
Shanghai   apts         55000.0
           cars        200000.0
           Salaries     30000.0
Suzhou     Salaries     10000.0
Tianjin    Salaries     15000.0
dtype: float64

### 'inner'可以去掉NAN

In [40]:
result3 = pd.concat([result,df4],axis=1,join='inner')
print (result3)

            apts    cars  Salaries
Shanghai   55000  200000     30000
Beijing     6000  300000     30000
Guangzhou  30000  180000     20000

In [43]:
df1.append(df1)

           apts    cars
Shanghai  55000  200000
Beijing    6000  300000
Shanghai  55000  200000
Beijing    6000  300000

In [ ]:
dif.ap

## merge 两张表合并成一张

In [45]:
result = pd.merge(df1,df4,on='cities',how='inner')
result

KeyError: 'cities'